:root {
  --material-theme-white: #fff;
  --material-theme-black: #000;
  --material-theme-sys-light-primary: #8f4a4c;
  --material-theme-sys-light-surface-tint: #8f4a4c;
  --material-theme-sys-light-on-primary: #fff;
  --material-theme-sys-light-primary-container: #ffdad9;
  --material-theme-sys-light-on-primary-container: #3b080e;
  --material-theme-sys-light-secondary: #775656;
  --material-theme-sys-light-on-secondary: #fff;
  --material-theme-sys-light-secondary-container: #ffdad9;
  --material-theme-sys-light-on-secondary-container: #2c1516;
  --material-theme-sys-light-tertiary: #755a2f;
  --material-theme-sys-light-on-tertiary: #fff;
  --material-theme-sys-light-tertiary-container: #ffddaf;
  --material-theme-sys-light-on-tertiary-container: #281800;
  --material-theme-sys-light-error: #ba1a1a;
  --material-theme-sys-light-on-error: #fff;
  --material-theme-sys-light-error-container: #ffdad6;
  --material-theme-sys-light-on-error-container: #410002;
  --material-theme-sys-light-background: #fff8f7;
  --material-theme-sys-light-on-background: #221919;
  --material-theme-sys-light-surface: #fff8f7;
  --material-theme-sys-light-on-surface: #221919;
  --material-theme-sys-light-surface-variant: #f4dddd;
  --material-theme-sys-light-on-surface-variant: #524343;
  --material-theme-sys-light-outline: #857373;
  --material-theme-sys-light-outline-variant: #d7c1c1;
  --material-theme-sys-light-shadow: #000;
  --material-theme-sys-light-scrim: #000;
  --material-theme-sys-light-inverse-surface: #382e2e;
  --material-theme-sys-light-inverse-on-surface: #ffedec;
  --material-theme-sys-light-inverse-primary: #ffb3b4;
  --material-theme-sys-light-primary-fixed: #ffdad9;
  --material-theme-sys-light-on-primary-fixed: #3b080e;
  --material-theme-sys-light-primary-fixed-dim: #ffb3b4;
  --material-theme-sys-light-on-primary-fixed-variant: #733336;
  --material-theme-sys-light-secondary-fixed: #ffdad9;
  --material-theme-sys-light-on-secondary-fixed: #2c1516;
  --material-theme-sys-light-secondary-fixed-dim: #e6bdbc;
  --material-theme-sys-light-on-secondary-fixed-variant: #5d3f3f;
  --material-theme-sys-light-tertiary-fixed: #ffddaf;
  --material-theme-sys-light-on-tertiary-fixed: #281800;
  --material-theme-sys-light-tertiary-fixed-dim: #e5c18d;
  --material-theme-sys-light-on-tertiary-fixed-variant: #5b421a;
  --material-theme-sys-light-surface-dim: #e8d6d5;
  --material-theme-sys-light-surface-bright: #fff8f7;
  --material-theme-sys-light-surface-container-lowest: #fff;
  --material-theme-sys-light-surface-container-low: #fff0f0;
  --material-theme-sys-light-surface-container: #fceae9;
  --material-theme-sys-light-surface-container-high: #f6e4e3;
  --material-theme-sys-light-surface-container-highest: #f0dede;
  --material-theme-sys-dark-primary: #ffb3b4;
  --material-theme-sys-dark-surface-tint: #ffb3b4;
  --material-theme-sys-dark-on-primary: #561d21;
  --material-theme-sys-dark-primary-container: #733336;
  --material-theme-sys-dark-on-primary-container: #ffdad9;
  --material-theme-sys-dark-secondary: #e6bdbc;
  --material-theme-sys-dark-on-secondary: #44292a;
  --material-theme-sys-dark-secondary-container: #5d3f3f;
  --material-theme-sys-dark-on-secondary-container: #ffdad9;
  --material-theme-sys-dark-tertiary: #e5c18d;
  --material-theme-sys-dark-on-tertiary: #422c05;
  --material-theme-sys-dark-tertiary-container: #5b421a;
  --material-theme-sys-dark-on-tertiary-container: #ffddaf;
  --material-theme-sys-dark-error: #ffb4ab;
  --material-theme-sys-dark-on-error: #690005;
  --material-theme-sys-dark-error-container: #93000a;
  --material-theme-sys-dark-on-error-container: #ffdad6;
  --material-theme-sys-dark-background: #1a1111;
  --material-theme-sys-dark-on-background: #f0dede;
  --material-theme-sys-dark-surface: #1a1111;
  --material-theme-sys-dark-on-surface: #f0dede;
  --material-theme-sys-dark-surface-variant: #524343;
  --material-theme-sys-dark-on-surface-variant: #d7c1c1;
  --material-theme-sys-dark-outline: #a08c8c;
  --material-theme-sys-dark-outline-variant: #524343;
  --material-theme-sys-dark-shadow: #000;
  --material-theme-sys-dark-scrim: #000;
  --material-theme-sys-dark-inverse-surface: #f0dede;
  --material-theme-sys-dark-inverse-on-surface: #382e2e;
  --material-theme-sys-dark-inverse-primary: #8f4a4c;
  --material-theme-sys-dark-primary-fixed: #ffdad9;
  --material-theme-sys-dark-on-primary-fixed: #3b080e;
  --material-theme-sys-dark-primary-fixed-dim: #ffb3b4;
  --material-theme-sys-dark-on-primary-fixed-variant: #733336;
  --material-theme-sys-dark-secondary-fixed: #ffdad9;
  --material-theme-sys-dark-on-secondary-fixed: #2c1516;
  --material-theme-sys-dark-secondary-fixed-dim: #e6bdbc;
  --material-theme-sys-dark-on-secondary-fixed-variant: #5d3f3f;
  --material-theme-sys-dark-tertiary-fixed: #ffddaf;
  --material-theme-sys-dark-on-tertiary-fixed: #281800;
  --material-theme-sys-dark-tertiary-fixed-dim: #e5c18d;
  --material-theme-sys-dark-on-tertiary-fixed-variant: #5b421a;
  --material-theme-sys-dark-surface-dim: #1a1111;
  --material-theme-sys-dark-surface-bright: #423736;
  --material-theme-sys-dark-surface-container-lowest: #140c0c;
  --material-theme-sys-dark-surface-container-low: #221919;
  --material-theme-sys-dark-surface-container: #271d1d;
  --material-theme-sys-dark-surface-container-high: #322827;
  --material-theme-sys-dark-surface-container-highest: #3d3232;
  --material-theme-sys-light-high-contrast-primary: #440f14;
  --material-theme-sys-light-high-contrast-surface-tint: #8f4a4c;
  --material-theme-sys-light-high-contrast-on-primary: #fff;
  --material-theme-sys-light-high-contrast-primary-container: #6e2f32;
  --material-theme-sys-light-high-contrast-on-primary-container: #fff;
  --material-theme-sys-light-high-contrast-secondary: #341b1c;
  --material-theme-sys-light-high-contrast-on-secondary: #fff;
  --material-theme-sys-light-high-contrast-secondary-container: #583b3c;
  --material-theme-sys-light-high-contrast-on-secondary-container: #fff;
  --material-theme-sys-light-high-contrast-tertiary: #311f00;
  --material-theme-sys-light-high-contrast-on-tertiary: #fff;
  --material-theme-sys-light-high-contrast-tertiary-container: #573e16;
  --material-theme-sys-light-high-contrast-on-tertiary-container: #fff;
  --material-theme-sys-light-high-contrast-error: #4e0002;
  --material-theme-sys-light-high-contrast-on-error: #fff;
  --material-theme-sys-light-high-contrast-error-container: #8c0009;
  --material-theme-sys-light-high-contrast-on-error-container: #fff;
  --material-theme-sys-light-high-contrast-background: #fff8f7;
  --material-theme-sys-light-high-contrast-on-background: #221919;
  --material-theme-sys-light-high-contrast-surface: #fff8f7;
  --material-theme-sys-light-high-contrast-on-surface: #000;
  --material-theme-sys-light-high-contrast-surface-variant: #f4dddd;
  --material-theme-sys-light-high-contrast-on-surface-variant: #2e2121;
  --material-theme-sys-light-high-contrast-outline: #4e3f3f;
  --material-theme-sys-light-high-contrast-outline-variant: #4e3f3f;
  --material-theme-sys-light-high-contrast-shadow: #000;
  --material-theme-sys-light-high-contrast-scrim: #000;
  --material-theme-sys-light-high-contrast-inverse-surface: #382e2e;
  --material-theme-sys-light-high-contrast-inverse-on-surface: #fff;
  --material-theme-sys-light-high-contrast-inverse-primary: #ffe6e6;
  --material-theme-sys-light-high-contrast-primary-fixed: #6e2f32;
  --material-theme-sys-light-high-contrast-on-primary-fixed: #fff;
  --material-theme-sys-light-high-contrast-primary-fixed-dim: #52191d;
  --material-theme-sys-light-high-contrast-on-primary-fixed-variant: #fff;
  --material-theme-sys-light-high-contrast-secondary-fixed: #583b3c;
  --material-theme-sys-light-high-contrast-on-secondary-fixed: #fff;
  --material-theme-sys-light-high-contrast-secondary-fixed-dim: #402626;
  --material-theme-sys-light-high-contrast-on-secondary-fixed-variant: #fff;
  --material-theme-sys-light-high-contrast-tertiary-fixed: #573e16;
  --material-theme-sys-light-high-contrast-on-tertiary-fixed: #fff;
  --material-theme-sys-light-high-contrast-tertiary-fixed-dim: #3e2903;
  --material-theme-sys-light-high-contrast-on-tertiary-fixed-variant: #fff;
  --material-theme-sys-light-high-contrast-surface-dim: #e8d6d5;
  --material-theme-sys-light-high-contrast-surface-bright: #fff8f7;
  --material-theme-sys-light-high-contrast-surface-container-lowest: #fff;
  --material-theme-sys-light-high-contrast-surface-container-low: #fff0f0;
  --material-theme-sys-light-high-contrast-surface-container: #fceae9;
  --material-theme-sys-light-high-contrast-surface-container-high: #f6e4e3;
  --material-theme-sys-light-high-contrast-surface-container-highest: #f0dede;
  --material-theme-sys-dark-high-contrast-primary: #fff9f9;
  --material-theme-sys-dark-high-contrast-surface-tint: #ffb3b4;
  --material-theme-sys-dark-high-contrast-on-primary: #000;
  --material-theme-sys-dark-high-contrast-primary-container: #ffb9b9;
  --material-theme-sys-dark-high-contrast-on-primary-container: #000;
  --material-theme-sys-dark-high-contrast-secondary: #fff9f9;
  --material-theme-sys-dark-high-contrast-on-secondary: #000;
  --material-theme-sys-dark-high-contrast-secondary-container: #ebc1c0;
  --material-theme-sys-dark-high-contrast-on-secondary-container: #000;
  --material-theme-sys-dark-high-contrast-tertiary: #fffaf7;
  --material-theme-sys-dark-high-contrast-on-tertiary: #000;
  --material-theme-sys-dark-high-contrast-tertiary-container: #eac591;
  --material-theme-sys-dark-high-contrast-on-tertiary-container: #000;
  --material-theme-sys-dark-high-contrast-error: #fff9f9;
  --material-theme-sys-dark-high-contrast-on-error: #000;
  --material-theme-sys-dark-high-contrast-error-container: #ffbab1;
  --material-theme-sys-dark-high-contrast-on-error-container: #000;
  --material-theme-sys-dark-high-contrast-background: #1a1111;
  --material-theme-sys-dark-high-contrast-on-background: #f0dede;
  --material-theme-sys-dark-high-contrast-surface: #1a1111;
  --material-theme-sys-dark-high-contrast-on-surface: #fff;
  --material-theme-sys-dark-high-contrast-surface-variant: #524343;
  --material-theme-sys-dark-high-contrast-on-surface-variant: #fff9f9;
  --material-theme-sys-dark-high-contrast-outline: #dcc6c5;
  --material-theme-sys-dark-high-contrast-outline-variant: #dcc6c5;
  --material-theme-sys-dark-high-contrast-shadow: #000;
  --material-theme-sys-dark-high-contrast-scrim: #000;
  --material-theme-sys-dark-high-contrast-inverse-surface: #f0dede;
  --material-theme-sys-dark-high-contrast-inverse-on-surface: #000;
  --material-theme-sys-dark-high-contrast-inverse-primary: #4e171b;
  --material-theme-sys-dark-high-contrast-primary-fixed: #ffe0df;
  --material-theme-sys-dark-high-contrast-on-primary-fixed: #000;
  --material-theme-sys-dark-high-contrast-primary-fixed-dim: #ffb9b9;
  --material-theme-sys-dark-high-contrast-on-primary-fixed-variant: #340309;
  --material-theme-sys-dark-high-contrast-secondary-fixed: #ffe0df;
  --material-theme-sys-dark-high-contrast-on-secondary-fixed: #000;
  --material-theme-sys-dark-high-contrast-secondary-fixed-dim: #ebc1c0;
  --material-theme-sys-dark-high-contrast-on-secondary-fixed-variant: #261010;
  --material-theme-sys-dark-high-contrast-tertiary-fixed: #ffe3bd;
  --material-theme-sys-dark-high-contrast-on-tertiary-fixed: #000;
  --material-theme-sys-dark-high-contrast-tertiary-fixed-dim: #eac591;
  --material-theme-sys-dark-high-contrast-on-tertiary-fixed-variant: #211400;
  --material-theme-sys-dark-high-contrast-surface-dim: #1a1111;
  --material-theme-sys-dark-high-contrast-surface-bright: #423736;
  --material-theme-sys-dark-high-contrast-surface-container-lowest: #140c0c;
  --material-theme-sys-dark-high-contrast-surface-container-low: #221919;
  --material-theme-sys-dark-high-contrast-surface-container: #271d1d;
  --material-theme-sys-dark-high-contrast-surface-container-high: #322827;
  --material-theme-sys-dark-high-contrast-surface-container-highest: #3d3232;
  --material-theme-sys-light-medium-contrast-primary: #6e2f32;
  --material-theme-sys-light-medium-contrast-surface-tint: #8f4a4c;
  --material-theme-sys-light-medium-contrast-on-primary: #fff;
  --material-theme-sys-light-medium-contrast-primary-container: #aa5f61;
  --material-theme-sys-light-medium-contrast-on-primary-container: #fff;
  --material-theme-sys-light-medium-contrast-secondary: #583b3c;
  --material-theme-sys-light-medium-contrast-on-secondary: #fff;
  --material-theme-sys-light-medium-contrast-secondary-container: #8f6c6c;
  --material-theme-sys-light-medium-contrast-on-secondary-container: #fff;
  --material-theme-sys-light-medium-contrast-tertiary: #573e16;
  --material-theme-sys-light-medium-contrast-on-tertiary: #fff;
  --material-theme-sys-light-medium-contrast-tertiary-container: #8d7043;
  --material-theme-sys-light-medium-contrast-on-tertiary-container: #fff;
  --material-theme-sys-light-medium-contrast-error: #8c0009;
  --material-theme-sys-light-medium-contrast-on-error: #fff;
  --material-theme-sys-light-medium-contrast-error-container: #da342e;
  --material-theme-sys-light-medium-contrast-on-error-container: #fff;
  --material-theme-sys-light-medium-contrast-background: #fff8f7;
  --material-theme-sys-light-medium-contrast-on-background: #221919;
  --material-theme-sys-light-medium-contrast-surface: #fff8f7;
  --material-theme-sys-light-medium-contrast-on-surface: #221919;
  --material-theme-sys-light-medium-contrast-surface-variant: #f4dddd;
  --material-theme-sys-light-medium-contrast-on-surface-variant: #4e3f3f;
  --material-theme-sys-light-medium-contrast-outline: #6c5b5b;
  --material-theme-sys-light-medium-contrast-outline-variant: #897676;
  --material-theme-sys-light-medium-contrast-shadow: #000;
  --material-theme-sys-light-medium-contrast-scrim: #000;
  --material-theme-sys-light-medium-contrast-inverse-surface: #382e2e;
  --material-theme-sys-light-medium-contrast-inverse-on-surface: #ffedec;
  --material-theme-sys-light-medium-contrast-inverse-primary: #ffb3b4;
  --material-theme-sys-light-medium-contrast-primary-fixed: #aa5f61;
  --material-theme-sys-light-medium-contrast-on-primary-fixed: #fff;
  --material-theme-sys-light-medium-contrast-primary-fixed-dim: #8c474a;
  --material-theme-sys-light-medium-contrast-on-primary-fixed-variant: #fff;
  --material-theme-sys-light-medium-contrast-secondary-fixed: #8f6c6c;
  --material-theme-sys-light-medium-contrast-on-secondary-fixed: #fff;
  --material-theme-sys-light-medium-contrast-secondary-fixed-dim: #745454;
  --material-theme-sys-light-medium-contrast-on-secondary-fixed-variant: #fff;
  --material-theme-sys-light-medium-contrast-tertiary-fixed: #8d7043;
  --material-theme-sys-light-medium-contrast-on-tertiary-fixed: #fff;
  --material-theme-sys-light-medium-contrast-tertiary-fixed-dim: #72572d;
  --material-theme-sys-light-medium-contrast-on-tertiary-fixed-variant: #fff;
  --material-theme-sys-light-medium-contrast-surface-dim: #e8d6d5;
  --material-theme-sys-light-medium-contrast-surface-bright: #fff8f7;
  --material-theme-sys-light-medium-contrast-surface-container-lowest: #fff;
  --material-theme-sys-light-medium-contrast-surface-container-low: #fff0f0;
  --material-theme-sys-light-medium-contrast-surface-container: #fceae9;
  --material-theme-sys-light-medium-contrast-surface-container-high: #f6e4e3;
  --material-theme-sys-light-medium-contrast-surface-container-highest: #f0dede;
  --material-theme-sys-dark-medium-contrast-primary: #ffb9b9;
  --material-theme-sys-dark-medium-contrast-surface-tint: #ffb3b4;
  --material-theme-sys-dark-medium-contrast-on-primary: #340309;
  --material-theme-sys-dark-medium-contrast-primary-container: #cb7a7c;
  --material-theme-sys-dark-medium-contrast-on-primary-container: #000;
  --material-theme-sys-dark-medium-contrast-secondary: #ebc1c0;
  --material-theme-sys-dark-medium-contrast-on-secondary: #261010;
  --material-theme-sys-dark-medium-contrast-secondary-container: #ad8888;
  --material-theme-sys-dark-medium-contrast-on-secondary-container: #000;
  --material-theme-sys-dark-medium-contrast-tertiary: #eac591;
  --material-theme-sys-dark-medium-contrast-on-tertiary: #211400;
  --material-theme-sys-dark-medium-contrast-tertiary-container: #ac8c5c;
  --material-theme-sys-dark-medium-contrast-on-tertiary-container: #000;
  --material-theme-sys-dark-medium-contrast-error: #ffbab1;
  --material-theme-sys-dark-medium-contrast-on-error: #370001;
  --material-theme-sys-dark-medium-contrast-error-container: #ff5449;
  --material-theme-sys-dark-medium-contrast-on-error-container: #000;
  --material-theme-sys-dark-medium-contrast-background: #1a1111;
  --material-theme-sys-dark-medium-contrast-on-background: #f0dede;
  --material-theme-sys-dark-medium-contrast-surface: #1a1111;
  --material-theme-sys-dark-medium-contrast-on-surface: #fff9f9;
  --material-theme-sys-dark-medium-contrast-surface-variant: #524343;
  --material-theme-sys-dark-medium-contrast-on-surface-variant: #dcc6c5;
  --material-theme-sys-dark-medium-contrast-outline: #b29e9e;
  --material-theme-sys-dark-medium-contrast-outline-variant: #917f7e;
  --material-theme-sys-dark-medium-contrast-shadow: #000;
  --material-theme-sys-dark-medium-contrast-scrim: #000;
  --material-theme-sys-dark-medium-contrast-inverse-surface: #f0dede;
  --material-theme-sys-dark-medium-contrast-inverse-on-surface: #322827;
  --material-theme-sys-dark-medium-contrast-inverse-primary: #743437;
  --material-theme-sys-dark-medium-contrast-primary-fixed: #ffdad9;
  --material-theme-sys-dark-medium-contrast-on-primary-fixed: #2c0105;
  --material-theme-sys-dark-medium-contrast-primary-fixed-dim: #ffb3b4;
  --material-theme-sys-dark-medium-contrast-on-primary-fixed-variant: #5e2326;
  --material-theme-sys-dark-medium-contrast-secondary-fixed: #ffdad9;
  --material-theme-sys-dark-medium-contrast-on-secondary-fixed: #200b0c;
  --material-theme-sys-dark-medium-contrast-secondary-fixed-dim: #e6bdbc;
  --material-theme-sys-dark-medium-contrast-on-secondary-fixed-variant: #4a2f2f;
  --material-theme-sys-dark-medium-contrast-tertiary-fixed: #ffddaf;
  --material-theme-sys-dark-medium-contrast-on-tertiary-fixed: #1b0f00;
  --material-theme-sys-dark-medium-contrast-tertiary-fixed-dim: #e5c18d;
  --material-theme-sys-dark-medium-contrast-on-tertiary-fixed-variant: #49320a;
  --material-theme-sys-dark-medium-contrast-surface-dim: #1a1111;
  --material-theme-sys-dark-medium-contrast-surface-bright: #423736;
  --material-theme-sys-dark-medium-contrast-surface-container-lowest: #140c0c;
  --material-theme-sys-dark-medium-contrast-surface-container-low: #221919;
  --material-theme-sys-dark-medium-contrast-surface-container: #271d1d;
  --material-theme-sys-dark-medium-contrast-surface-container-high: #322827;
  --material-theme-sys-dark-medium-contrast-surface-container-highest: #3d3232;
  --material-theme-ref-primary-primary-100: #fff;
  --material-theme-ref-primary-primary-99: #fffbff;
  --material-theme-ref-primary-primary-98: #fff8f7;
  --material-theme-ref-primary-primary-95: #feedec;
  --material-theme-ref-primary-primary-90: #f0dfde;
  --material-theme-ref-primary-primary-80: #d3c3c2;
  --material-theme-ref-primary-primary-70: #b7a8a7;
  --material-theme-ref-primary-primary-60: #9c8d8d;
  --material-theme-ref-primary-primary-50: #817474;
  --material-theme-ref-primary-primary-40: #685c5b;
  --material-theme-ref-primary-primary-35: #5b504f;
  --material-theme-ref-primary-primary-30: #4f4444;
  --material-theme-ref-primary-primary-25: #433939;
  --material-theme-ref-primary-primary-20: #382e2e;
  --material-theme-ref-primary-primary-15: #2d2423;
  --material-theme-ref-primary-primary-10: #221919;
  --material-theme-ref-primary-primary-5: #170f0f;
  --material-theme-ref-primary-primary-0: #000;
  --material-theme-ref-secondary-secondary-100: #fff;
  --material-theme-ref-secondary-secondary-99: #fffbff;
  --material-theme-ref-secondary-secondary-98: #fff8f7;
  --material-theme-ref-secondary-secondary-95: #f7efee;
  --material-theme-ref-secondary-secondary-90: #e9e1e0;
  --material-theme-ref-secondary-secondary-80: #ccc5c4;
  --material-theme-ref-secondary-secondary-70: #b0aaa9;
  --material-theme-ref-secondary-secondary-60: #958f8f;
  --material-theme-ref-secondary-secondary-50: #7b7675;
  --material-theme-ref-secondary-secondary-40: #625d5d;
  --material-theme-ref-secondary-secondary-35: #565151;
  --material-theme-ref-secondary-secondary-30: #4a4645;
  --material-theme-ref-secondary-secondary-25: #3e3a3a;
  --material-theme-ref-secondary-secondary-20: #332f2f;
  --material-theme-ref-secondary-secondary-15: #282525;
  --material-theme-ref-secondary-secondary-10: #1e1b1b;
  --material-theme-ref-secondary-secondary-5: #131010;
  --material-theme-ref-secondary-secondary-0: #000;
  --material-theme-ref-tertiary-tertiary-100: #fff;
  --material-theme-ref-tertiary-tertiary-99: #fffbff;
  --material-theme-ref-tertiary-tertiary-98: #fff8f3;
  --material-theme-ref-tertiary-tertiary-95: #f7efe9;
  --material-theme-ref-tertiary-tertiary-90: #e9e1db;
  --material-theme-ref-tertiary-tertiary-80: #ccc5c0;
  --material-theme-ref-tertiary-tertiary-70: #b0aaa5;
  --material-theme-ref-tertiary-tertiary-60: #95908b;
  --material-theme-ref-tertiary-tertiary-50: #7b7671;
  --material-theme-ref-tertiary-tertiary-40: #625e59;
  --material-theme-ref-tertiary-tertiary-35: #56524d;
  --material-theme-ref-tertiary-tertiary-30: #4a4642;
  --material-theme-ref-tertiary-tertiary-25: #3e3b37;
  --material-theme-ref-tertiary-tertiary-20: #33302c;
  --material-theme-ref-tertiary-tertiary-15: #282522;
  --material-theme-ref-tertiary-tertiary-10: #1e1b18;
  --material-theme-ref-tertiary-tertiary-5: #13100d;
  --material-theme-ref-tertiary-tertiary-0: #000;
  --material-theme-ref-error-error-100: #fff;
  --material-theme-ref-error-error-99: #fffbff;
  --material-theme-ref-error-error-98: #fff8f7;
  --material-theme-ref-error-error-95: #ffedea;
  --material-theme-ref-error-error-90: #ffdad6;
  --material-theme-ref-error-error-80: #ffb4ab;
  --material-theme-ref-error-error-70: #ff897d;
  --material-theme-ref-error-error-60: #ff5449;
  --material-theme-ref-error-error-50: #de3730;
  --material-theme-ref-error-error-40: #ba1a1a;
  --material-theme-ref-error-error-35: #a80710;
  --material-theme-ref-error-error-30: #93000a;
  --material-theme-ref-error-error-25: #7e0007;
  --material-theme-ref-error-error-20: #690005;
  --material-theme-ref-error-error-15: #540003;
  --material-theme-ref-error-error-10: #410002;
  --material-theme-ref-error-error-5: #2d0001;
  --material-theme-ref-error-error-0: #000;
  --material-theme-ref-neutral-neutral-100: #fff;
  --material-theme-ref-neutral-neutral-99: #fffbff;
  --material-theme-ref-neutral-neutral-98: #fdf8f7;
  --material-theme-ref-neutral-neutral-95: #f5f0ef;
  --material-theme-ref-neutral-neutral-90: #e6e1e1;
  --material-theme-ref-neutral-neutral-80: #cac5c5;
  --material-theme-ref-neutral-neutral-70: #aeaaaa;
  --material-theme-ref-neutral-neutral-60: #93908f;
  --material-theme-ref-neutral-neutral-50: #797676;
  --material-theme-ref-neutral-neutral-40: #605e5d;
  --material-theme-ref-neutral-neutral-35: #545252;
  --material-theme-ref-neutral-neutral-30: #484646;
  --material-theme-ref-neutral-neutral-25: #3d3b3b;
  --material-theme-ref-neutral-neutral-20: #323030;
  --material-theme-ref-neutral-neutral-15: #272525;
  --material-theme-ref-neutral-neutral-10: #1c1b1b;
  --material-theme-ref-neutral-neutral-5: #121111;
  --material-theme-ref-neutral-neutral-0: #000;
  --material-theme-ref-neutral-variant-neutral-variant-100: #fff;
  --material-theme-ref-neutral-variant-neutral-variant-99: #fffbff;
  --material-theme-ref-neutral-variant-neutral-variant-98: #fef8f7;
  --material-theme-ref-neutral-variant-neutral-variant-95: #f5efef;
  --material-theme-ref-neutral-variant-neutral-variant-90: #e7e1e0;
  --material-theme-ref-neutral-variant-neutral-variant-80: #cac5c5;
  --material-theme-ref-neutral-variant-neutral-variant-70: #afaaaa;
  --material-theme-ref-neutral-variant-neutral-variant-60: #94908f;
  --material-theme-ref-neutral-variant-neutral-variant-50: #7a7676;
  --material-theme-ref-neutral-variant-neutral-variant-40: #615e5d;
  --material-theme-ref-neutral-variant-neutral-variant-35: #555251;
  --material-theme-ref-neutral-variant-neutral-variant-30: #494646;
  --material-theme-ref-neutral-variant-neutral-variant-25: #3d3b3b;
  --material-theme-ref-neutral-variant-neutral-variant-20: #323030;
  --material-theme-ref-neutral-variant-neutral-variant-15: #272525;
  --material-theme-ref-neutral-variant-neutral-variant-10: #1d1b1b;
  --material-theme-ref-neutral-variant-neutral-variant-5: #121110;
  --material-theme-ref-neutral-variant-neutral-variant-0: #000;
  --material-theme-key-colors-primary: #181010;
  --material-theme-source-seed: #181010;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Regular),
    url(resources/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Medium), url(resources/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.material-themedisplaylarge {
  font-family: Roboto;
  font-size: 57px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: -0.25px;
}

.material-themedisplaymedium {
  font-family: Roboto;
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
}

.material-themedisplaysmall {
  font-family: Roboto;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
}

.material-themeheadlinelarge {
  font-family: Roboto;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.material-themeheadlinemedium {
  font-family: Roboto;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.material-themeheadlinesmall {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.material-themetitlelarge {
  font-family: Roboto;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

.material-themetitlemedium {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.material-themebodylarge {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.material-themetitlesmall {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
}

.material-themelabellarge {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
}

.material-themebodymedium {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
}

.material-themelabelmedium {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.5px;
}

.material-themebodysmall {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
}

.material-themelabelsmall {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.5px;
}
