.headerBox {
  font-family: var(--material-themetitlemedium);
  margin-bottom: 0;
}

.contentBox {
  border: 2px solid var(--material-theme-sys-light-on-primary);
  border-radius: 15px;
  padding: 10%;
  margin-top: -10px;
  width: 100%;
}

.cardTitle {
  font-family: var(--material-themetitleLarge);
  color: var(--material-theme-sys-light-on-surface);
}

.cardSubtitle {
  font-family: var(--material-themetitleMedium);
  color: var(--material-theme-sys-light-on-surface-variant);
}

