.futurePassesBox {
  border: 2px solid var(--material-theme-sys-light-on-primary);
  border-radius: 15px;
  padding: 0.5%;
  margin-top: -10px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  justify-content: flex-start;
  max-height: 230px; /* height for two rows of cards */
  overflow-y: auto;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
