.stack {
    width: 100%;
  }
  
  .table-cell {
    color: black !important;
    text-align: left;
  }
  
  .table-row:last-child td, .table-row:last-child th {
    border: 0;
  }
  
  .button {
    color: #6cb6ff;
  }