name: Build LaTeX and Deploy PDFs

on:
  push:
    branches: main
    paths: [docs/**]
  pull_request:
    branches: main
    paths: [docs/**]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get changed LaTeX files
        id: latex-files
        run: |
          CHANGED_FILES=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} -- docs/**/*.tex | xargs)
          echo "Changed files: $CHANGED_FILES"
          echo "CHANGED_FILES=$CHANGED_FILES" >> $GITHUB_ENV
          CHANGED_FILENAMES=$(for file in $CHANGED_FILES; do basename "$file"; done | xargs)
          echo "CHANGED_FILENAMES=$CHANGED_FILENAMES" >> $GITHUB_ENV
          FILE_COUNT=$(echo $CHANGED_FILENAMES | wc -w)
          if [ $FILE_COUNT -gt 1 ]; then
            PLURAL_S='s'
          else
            PLURAL_S=''
          fi
          echo "PLURAL_S=$PLURAL_S" >> $GITHUB_ENV
      - name: Compile LaTeX
        uses: xu-cheng/texlive-action@v2
        name: Compile LaTeX Files
        with:
          scheme: full
          texlive_version: 2024
          run: |
            apk add make
            cd docs
            for file in ${{ env.CHANGED_FILES }}; do 
              dir=$(dirname "$file" | cut -d'/' -f2-)
              make -B "$dir/$(basename "$file" .tex).pdf" 
            done
      - name: Prepare site
        run: |
          mkdir -p public
          rsync -av --include='*/' --include='*.pdf' --exclude='*' docs/ public/
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public

deploy:
   needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
